/*BODY*/


body {
    background-color: #e6e6e9;
    font-family: 'NsS Sans', 'Open Sans', sans-serif;

    /*Font staat in gesteld op het font van NS*/
}

body > header {
    position: absolute;     /*Header staat absolute om zelf een plaatst te bepalen*/
    top: 0;
    left: 0;
    bottom: 46em;
    background-color: white;
    box-shadow: 0 .125rem 0 0 rgba(7, 7, 33, .15);
    width: 100%;
    z-index: 1;/*Z-Index staat voor om een element boven een ander element zichtbaar te houden*/
}


/*NAVIGATIE*/


nav > ul {
    display: flex; /*Display flex maakt een flexibele context mogelijk voor de childs*/
    justify-content: flex-end; /*Uitlijning van de items*/
    align-items: center; /*Gecentreerd uitlijnen*/
    list-style-type: none; 
    margin: 1.5em 5em 5em 5em;
    padding-bottom: 1em;
    padding-top: 1em;

}

li:first-of-type { /*first-of-type selector komt overeen met elk element dat het eerste kind, van een bepaald type, van zijn ouder is.*/
    flex-grow: 1;
}

li a img {
    transition: .2s ease-in-out;
}

li a img:hover {
    margin-left: 2em;
}



/*CONTENT*/

h2 {
    color: #003082;
    font-size: 2em;
    font-weight: 500;
    margin-left: 3.8em;
    margin-top: 1.2em;
}

h3 {
    color: #003082;
    font-size: 1.3em;
    margin-left: 1em;
    font-weight: 100;
}


container {
    background-color: white;
    width: 77.5em;
    height: 27em;
    display: inline-block;
    margin-top: 16em;
    margin-left: 7.5em;
    margin-bottom: 3em;
    box-shadow: 0 .125rem 0 0 rgba(7, 7, 33, .15);

}

container > img { /*Afbeelding in de container*/
    opacity: 0.99;
    object-fit: cover;
    width: 77.5em;
    max-height: 100%;
}

container > h3 {
    position: absolute;
    color: white;
    z-index: 2;
    font-size: 2em;
    font-weight: 700;
    margin-top: 5em;
    text-shadow: 10px;
}

container > p {
    position: absolute;
    margin-top: 13em;
    color: white;
    z-index: 3;
    margin-left: 2em;
    font-weight: 500;
}

container > button {
    position: absolute;
    top: 41em;
    right: 79.8em;
    background-color: #FFC917;
    color: #003082;
    border-radius: 0.5em;
    border: 0;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-weight: 400;
    font-size: 0.9em;
    margin-top: 2em;
    box-shadow: 0 .125rem 0 0 rgba(7, 7, 33, .15);
    transition: box-shadow 0.15s ease-in-out;
}

container > button:hover {
    box-shadow: 0 -3.2em 0 #ffb519 inset;
}



article {
    display: inline-block;
    justify-content: center;
    background-color: white;
    box-shadow: 0 .125rem 0 0 rgba(7, 7, 33, .15);
    width: 21em;
    height: 28em;
    margin-top: 1em;
    margin-right: -0.5em;
    margin-left: 7.5em;
}

article > button {
    background-color: #0063d3;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-top: 1em;
    margin-left: 1.2em;
    color: white;
    font-weight: 400;
    font-size: 0.9em;
    border: 0;
    border-radius: 0.5em;
    transition: .15s ease-in-out;
    box-shadow: 0 .125ßrem 0 0 rgba(7, 7, 33, .15);

}

article>a>button{
      background-color: #0063d3;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-top: 1em;
    margin-left: 1.2em;
    color: white;
    font-weight: 400;
    font-size: 0.9em;
    border: 0;
    border-radius: 0.5em;
    transition: .15s ease-in-out;
    box-shadow: 0 .125ßrem 0 0 rgba(7, 7, 33, .15);
}

article>a>button:hover{
    background-color: #004ba0;
    margin-left: 1.3em;
    
}

article > p {
    display: flex;
    justify-content: flex-start;
    margin-left: 1.6em;
    font-size: 0.8em;
    padding-bottom: 2em;
    margin-right:1em;

}

article > footer {
    display: inline-block;
    justify-content: flex-start;
    margin-top: 1em;
    margin-left: 1.8em;
    font-size: 0.8em;
    margin-bottom: 0;
    color: #003082;
}

article > h3 {
    margin-top: 0.3em;
}

article > h3 > button {
    display: inline-block;
}

article > button:hover {
    background-color: #004ba0;
    margin-left: 1.3em;
}

article:hover {
    background-color: #FFC917;
}

article > img {
    opacity: 0.75;
    object-fit: cover;
    width: 21em;
    height: 10.6em;
}

article > img:hover {
    opacity: 100;
}


/*FORMULIER*/

section:nth-last-of-type(3) { /*Afbeelding in de containernth-of-type (n) selector komt overeen met elk element dat het nde kind is, van een bepaald type, van zijn ouder.*/
    position: absolute;
    top: 6em;
    right: 0;
    left: 0;
    background-color: #FFC917;
    max-width: 100%;
    height: 25em;


}

main > section > h2 {
    margin-left: 4em;
}

main > section > form {
    margin-left: 7em;
}

main > section > form > fieldset > label {
    color: #003082;
    font-weight: 700;
    background-color: white;
    padding: 0.7em;
    margin-top: 0.8em;
    font-size: 1em;
    border: none;
    text-transform: lowercase;
}

main > section > form > fieldset > label > input {
    border: none;
    font-size: 0.8em;
    margin-left: 2em;
}


input:focus,/*Focus van het veld wanneer in getypt kan worden*/
input[type="radio"]:focus {
    outline: 1px dotted gray;
    outline-offset: 5px;
}

main > section > form > button[type="button"]/*Aanspreken van de "button" actie*/ {
    position: absolute;
    top: 10em;
    right: 84.5em;
    background-color: #0063d3;
    color: white;
    border-radius: 0.5em;
    border: 0;
    height: 3.2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-weight: 200;
    font-size: 0.9em;
    margin-top: 3em;
    box-shadow: inset 0 -0.125rem 0 #005ca0;
    transition: box-shadow 0.15s ease-in-out;
}

main > section > form > button[type="button"]:hover {
    box-shadow: 0 -3.2em 0 #005ca0 inset;
}


main > section > form > button[type="submit"] { /*Aanspreken van de submit button*/
    position: absolute;
    top: 10em;
    right: 70em;
    background-color: #003082;
    color: white;
    border-radius: 0.5em;
    border: 0;
    height: 3.2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 0.9em;
    margin-top: 3em;
    background-color: rgba(7, 7, 33, 0.1);
    color: #003082;
    box-shadow: 0 -0.125rem 0 #cfa317 inset;
    font-weight: 100;
    transition: box-shadow 0.15s ease-in-out;
}


main > section > form > button[type="submit"]:hover {
    box-shadow: 0 -3.2em 0 #cfa317 inset;
}



form {
    background-color: #FFC917;
    padding-top: 1em;
    display: inline-block;
    justify-content: center;
    margin-right: -0.5em;
    margin-left: 7.5em;

}

section > form {
    padding-bottom: 1em;
    width: 77.5em;
    max-width: 80em;


}

section > form > fieldset {
    display: inline-block;

}

fieldset:nth-child(1n+2) {
    margin-top: 0.5em;
}

fieldset {
    border: 0;
    max-width: 100%;
}


main > section > form > input[type="radio"] + label {
    top: 12.5em;
    right: 7em;
    position: absolute;
    font-weight: 100;
    border-bottom: 2px solid rgba(7, 7, 33, 0.6);
    color: rgba(7, 7, 33, 0.6);
    padding: 0 0.6rem 0.6rem 0;
}


main > section > form > input[type="radio"]:checked + label {
    color: #003082;
    border-bottom-color: #003082;
    right: 17em;

}


main > section > form > input[type="radio"] {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}


label {
    cursor: default;
}


/*//FOOTER (EIND VAN DE PAGINA)*/

body > footer {
    background-color: white;
    display: flex;
    width: 100%;
    height: 6em;
    margin-top: 5em;

}

body > footer > p {
    color: #003082;
    font-size: 0.8em;
    margin-left: 9em;
    margin-top: 3em;
}

body > footer > a {
    display: flex;
    justify-content: center;
    margin: 2.5em;
    margin-left: 65em;
}





@media(max-width: 60em) {


    main > section > form > button[type="button"] {
        right: 58em;
    }

    main > section > form > button[type="submit"] {
        right: 43em;
    }

    container {
        background-color: white;
        width: 20.5em;
        height: 20em;
        display: inline-block;
        margin-top: 16em;
        margin-bottom: 20em;
        box-shadow: 0 .125rem 0 0 rgba(7, 7, 33, .15);
        z-index: 1;


    }

    container > img {
        opacity: 0.95;
        object-fit: cover;
        width: 53em;
        max-height: 100%;
    }

    container > button {
        right: 53em;
    }

    article {
        background-color: white;
        width: 21em;
        height: 28em;
        margin-top: 1em;
        margin-right: -0.5em;
        margin-left: 7.5em;
    }

}

/*RESPONSIVE DESIGN*/

@media(max-width: 30em) {

    main > section > form > button[type="button"] {
        right: 19em;
    }

    main > section > form > button[type="submit"] {
        top: 14em;
        right: 14.5em;
    }

    container {
        visibility: hidden;
        margin-top: 0.2em;
        background-color: white;
        width: 77.5em;
        height: 27em;
        display: inline-block;
        margin-left: 7.5em;
        margin-bottom: 3em;
        box-shadow: 0 .125rem 0 0 rgba(7, 7, 33, .15);

    }

    article {
        background-color: white;
        width: 21em;
        height: 28em;
        margin-right: -0.5em;
        margin-left: 3em;
    }

    main > section > h2 {
        margin-left: 1.5em;
    }

    main > section > form {
        margin-left: 2em;
    }

    main > section > form > fieldset > label {
        color: #003082;
        font-weight: 700;
        background-color: white;
    }

    main > section > form > input[type="radio"]:checked + label {
        right: 18em;
    }


    main > section > form > input[type="radio"] + label {
        font-size: 0.8em;
        top: 26em;
        right: 4em;
    }

    body > footer {
        background-color: white;
        display: flex;
        width: 100%;
        height: 6em;
        margin-top: 5em;

    }

    body > footer > p {
        color: #003082;
        font-size: 0.6em;
        margin-left: 5em;
        margin-top: 3em;
    }

    body > footer > a {
        display: flex;
        justify-content: center;
        margin: 2.5em;
        margin-left: 15em;
    }
}


