/*BODY*/


body {
    background-color: white;
    font-family: 'NsS Sans', 'Open Sans', sans-serif;
    width: 100%;
}

body > header {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 46em;
    background-color: white;
    box-shadow: 0 .125rem 0 0 rgba(7, 7, 33, .15);
    width: 100%;
    z-index: 1;
}

/*SCROLLBAR*/

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}

/* De grijze achtergronnd van de scrollbar */ 

.progress-container {
    width: 100%;
    height: 0.25em;
    background: #ccc;
}

/*De progress bar van de scrolindicator*/

.progress-bar {
    height: 0.25em;
    background: #003082;
    width: 0%;
}


/*NAVIGATIE*/

nav > ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 1.5em 5em 5em 5em;
    padding-bottom: 1em;
    padding-top: 1em;

}

li:first-of-type {
    flex-grow: 1;
}

li a img {
    transition: .2s ease-in-out;
}

li a img:hover {
    margin-left: 2em;
}


/*CONTENT*/

main > section {
    position: absolute;
    top: 3em;
    right: 0;
    left: 0;
    background-color: #FFC917;
    max-width: 100%;
    height: 18em;
}


main > section > a {
    position: absolute;
    text-decoration: none;
    margin-left: 7.5em;
    color: #0079D3;
    margin-top: 7em;

}

main > section > a:hover {
    color: #003082;
}

main > section > h2 {
    color: #003082;
    font-size: 2em;
    font-weight: 500;
    margin-left: 3.8em;
    margin-top: 5em;
}

main > section > article {
    width: 100%;
    display: flex;
    margin-bottom: 40em;
}


main > section > article > p {
    position: absolute;
    font-size: 1em;
    margin-top: 8em;
    margin-bottom: 10em;
    margin-left: 7em;
    color: black;
    max-width: 35em;
}



/*FOOTER*/

body > footer {
    background-color: white;
    top: 75em;
    position: absolute;
    width: 100%;
    height: 6em;
    margin-top: 5em;

}

body > footer > p {
    position: absolute;
    color: #003082;
    font-size: 0.8em;
    margin-left: 9em;
    margin-top: 3em;
}

body > footer > a {
    position: absolute;
    margin-left: 42em;
    margin-top: 2.4em;
}


/*RESPONSIVE DESIGN*/


@media(max-width:60em) {
    body {
        display: grid;
        grid-template-columns: 1fr;
    }

    article > p {
        font-size: 0.8em;
        margin-right: 7em;
    }

    body > footer {
        top: 80em;
    }

    body > footer > a {
        margin-left: 35em;
    }


}

@media(max-width:30em) {
    body {
        display: grid;
        grid-template-columns: 1fr;
    }


    main > section > article > p {
        font-size: 0.8em;
        margin-right: 4em;
        margin-left: 9em;
    }

    body > footer {
        top: 95em;
    }

    body > footer > a {
        margin-left: 20em;
    }


}
